In [ ]:
print("Hello, Data Science!")

Hello, Data Science!

In [ ]:
import pandas as pd

# Load data with proper delimiter and quoting
data = pd.read_csv("hw_200.csv", delimiter=",", quotechar='"', skipinitialspace=True)

# Clean column names
data.columns = data.columns.str.strip().str.replace('"', '')

# Show actual column names
print("Columns:", data.columns.tolist())

# Show first 5 rows
print(data.head())

# Summary statistics
print(data.describe())

# Average height
print("Average Height:", data['Height(Inches)'].mean())

# Tallest person
print("Max Height:", data['Height(Inches)'].max())

Columns: ['Index', 'Height(Inches)', 'Weight(Pounds)']
   Index  Height(Inches)  Weight(Pounds)
0      1           65.78          112.99
1      2           71.52          136.49
2      3           69.40          153.03
3      4           68.22          142.34
4      5           67.79          144.30
            Index  Height(Inches)  Weight(Pounds)
count  200.000000      200.000000      200.000000
mean   100.500000       67.949800      127.221950
std     57.879185        1.940363       11.960959
min      1.000000       63.430000       97.900000
25%     50.750000       66.522500      119.895000
50%    100.500000       67.935000      127.875000
75%    150.250000       69.202500      136.097500
max    200.000000       73.900000      158.960000
Average Height: 67.9498
Max Height: 73.9

In [3]:
import pandas as pd

# Load data with proper delimiter and quoting
data = pd.read_csv("hw_200.csv", delimiter=",", quotechar='"', skipinitialspace=True)
print(data.dropna())     # Remove missing values
print(data.fillna(0)   ) # Replace missing values

print(data.rename(columns={"Old": "New"}, inplace=True))

     Index  Height(Inches)"  Weight(Pounds)
0        1            65.78          112.99
1        2            71.52          136.49
2        3            69.40          153.03
3        4            68.22          142.34
4        5            67.79          144.30
..     ...              ...             ...
189    196            65.80          120.84
190    197            66.11          115.78
191    198            68.24          128.30
192    199            68.02          127.47
193    200            71.39          127.88

[194 rows x 3 columns]
     Index  Height(Inches)"  Weight(Pounds)
0        1            65.78          112.99
1        2            71.52          136.49
2        3            69.40          153.03
3        4            68.22          142.34
4        5            67.79          144.30
..     ...              ...             ...
189    196            65.80          120.84
190    197            66.11          115.78
191    198            68.24          128.30
192    199            68.02          127.47
193    200            71.39          127.88

[194 rows x 3 columns]
None

In [7]:
 # Average Weight
import pandas as pd
data=pd.read_csv("hw_200.csv",delimiter=",", quotechar='"', skipinitialspace=True)
print("Average Weight:", data['Weight(Pounds)'].mean())

Average Weight: 127.22194999999999

In [14]:
import pandas as pd

df = pd.read_csv("students.csv",  delimiter=",", quotechar='"', skipinitialspace=True)
print(df.head())

    Name   Age  Marks     City
0  Aditi  20.0   85.0  Kolkata
1  Rahul  21.0    NaN   Mumbai
2  Sneha  19.0   90.0    Delhi
3  Arjun  22.0   70.0      NaN
4  Priya   NaN   95.0  Chennai

In [15]:
import pandas as pd

df = pd.read_csv("students.csv",  delimiter=",", quotechar='"', skipinitialspace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     4 non-null      float64
 2   Marks   4 non-null      float64
 3   City    4 non-null      object
dtypes: float64(2), object(2)
memory usage: 292.0+ bytes
None

In [17]:
import pandas as pd

df = pd.read_csv("students.csv",  delimiter=",", quotechar='"', skipinitialspace=True)
print(df.tail())

    Name   Age  Marks     City
0  Aditi  20.0   85.0  Kolkata
1  Rahul  21.0    NaN   Mumbai
2  Sneha  19.0   90.0    Delhi
3  Arjun  22.0   70.0      NaN
4  Priya   NaN   95.0  Chennai

In [18]:
import pandas as pd

df = pd.read_csv("students.csv",  delimiter=",", quotechar='"', skipinitialspace=True)
print(df.describe())

             Age      Marks
count   4.000000   4.000000
mean   20.500000  85.000000
std     1.290994  10.801234
min    19.000000  70.000000
25%    19.750000  81.250000
50%    20.500000  87.500000
75%    21.250000  91.250000
max    22.000000  95.000000

In [18]:
import pandas as pd

df = pd.read_csv("students.csv",  delimiter=",", quotechar='"', skipinitialspace=True)
print(df.describe())

             Age      Marks
count   4.000000   4.000000
mean   20.500000  85.000000
std     1.290994  10.801234
min    19.000000  70.000000
25%    19.750000  81.250000
50%    20.500000  87.500000
75%    21.250000  91.250000
max    22.000000  95.000000

In [19]:
import pandas as pd
df = pd.read_csv("students.csv",  delimiter=",", quotechar='"', skipinitialspace=True)
print(df.isnull().sum())

Name     0
Age      1
Marks    1
City     1
dtype: int64

In [20]:
import pandas as pd

df = pd.read_csv("students.csv")
print(df.head())

# Fill missing marks with average
df['Marks'].fillna(df['Marks'].mean(), inplace=True)

# Drop rows where 'City' is missing
df.dropna(subset=['City'], inplace=True)

# Fill missing Age with median
df['Age'].fillna(df['Age'].median(), inplace=True)

    Name   Age  Marks     City
0  Aditi  20.0   85.0  Kolkata
1  Rahul  21.0    NaN   Mumbai
2  Sneha  19.0   90.0    Delhi
3  Arjun  22.0   70.0      NaN
4  Priya   NaN   95.0  Chennai

C:\Users\user\AppData\Local\Temp\ipykernel_3844\2260574457.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].fillna(df['Marks'].mean(), inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_3844\2260574457.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [22]:
import pandas as pd
df = pd.read_csv("students.csv")
df.rename(columns={"Marks": "Score"}, inplace=True)
df.drop_duplicates(inplace=True)