In [52]:
import pandas as pd
data={
'Name ':['Anindita','Yun Bonghee','Ayaan'],
'Marks':[88,92,77],
"Subject":["IT","LAW","CSE"]
}
df=pd.DataFrame(data)
s=pd.Series(data)

print(df)
print(s)

         Name   Marks Subject
0     Anindita     88      IT
1  Yun Bonghee     92     LAW
2        Ayaan     77     CSE
Name       [Anindita, Yun Bonghee, Ayaan]
Marks                        [88, 92, 77]
Subject                    [IT, LAW, CSE]
dtype: object

In [42]:
df[['Name ','Subject']]

         Name  Subject
0     Anindita      IT
1  Yun Bonghee     LAW
2        Ayaan     CSE

In [43]:
print(df[df['Marks']>80])

         Name   Marks Subject
0     Anindita     88      IT
1  Yun Bonghee     92     LAW

In [44]:
print(df)

         Name   Marks Subject
0     Anindita     88      IT
1  Yun Bonghee     92     LAW
2        Ayaan     77     CSE

In [49]:
df=df.drop('Grades',axis=1,inplace=True)

In [50]:
df['Grades'] = df.apply(lambda row: 'A', axis=1)

AttributeError: 'NoneType' object has no attribute 'apply'

In [56]:
print(df)

         Name   Marks Grades
0     Anindita     88      A
1  Yun Bonghee     92      A
2        Ayaan     77      A

In [53]:
def Grade(row):
    return 'A'

df['Grades'] = df.apply(Grade, axis=1)

In [55]:
 df.drop('Subject',axis=1,inplace=True)